<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">前端江湖</div>
                <div class="panel-body" >
                    <div class="list-group" auto-scroll style="height:300px;overflow-y:auto">
                        <div class="list-group-item" ng-repeat="message in messages track by $index">
                            <img style="width:16px;height:16px" ng-src="{{message.creator.avatar}}">{{message.creator.username}}: {{message.content}} <time am-time-ago="message.createDate"></time>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <form action="" role="form" ng-controller="MessageCtrl">
                        <div class="form-group">
                           <textarea required ctrl-enter-new-line="createMessage()" name="newMessage" class="form-control"
                                     ng-model="newMessage" ></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>